{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="top">
    <span>
        <img class="logo" width="128" height="64" src="{% static 'mail/image/bdmail-removebg-preview.png' %}"/>
    </span>
        <div class="search">
            <form method="get" onsubmit="return handleSearch()">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    <div class="top1">
        <div class="dd">
            <div class="dropdown">
                <button class="dropbtn">
                    <div class="user">
                        
                            <i class='far fa-user-circle' style="font-size:36px;text-align:center;"></i>
                        
                        <span class="user-email">
                            <strong>{{ request.user.email }}</strong>
                        </span>
                    </div>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}"><i class='fas fa-sign-out-alt'></i> Log Out</a>
                    
                </div>
            </div>
        </div>  
        <div class="dropdown">
            <button class="dropbtn">
                <strong>Settings <i class="fas fa-cog dropdown-icon"></i> </strong>
            </button>
            <div class="dropdown-content">
                <a href="#" onclick="changeBackground('url({% static 'mail/backgrounds/hut_purple.jpg' %})')">Purple Hut</a>
                <a href="#" onclick="changeBackground('url({% static 'mail/backgrounds/bus.jpg' %})')">Bus</a>
                <a href="#" onclick="changeBackground('url({% static 'mail/backgrounds/city_sky.jpg' %})')">City Sky</a>
                <a href="#" onclick="changeBackground('url({% static 'mail/backgrounds/bonsai.jpg' %})')">Bonsai</a>
                <a href="#" onclick="changeBackground('url({% static 'mail/backgrounds/rocky.jpg' %})')">Rocky</a>
                <a href="#" onclick="changeBackground('#ffffff')">White</a>
                <a href="#" onclick="changeBackground('#f0f0f0')">Light Gray</a>
                <a href="#" onclick="changeBackground('#dcdcdc')">Gray</a>
            </div>
        </div>
    </div>
 </div>
<div class="layout1">
   
    <div class="container">
        <div class="mail-container">

            <button class="btn btn-sm btn-outline-dark" id="inbox">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
            </svg> 
                                                                        Inbox</button>
            <button class="btn btn-sm btn-outline-dark" id="compose"><i class='fas fa-pen-fancy'></i> Compose</button>
            <button class="btn btn-sm btn-outline-dark" id="sent">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75zM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                </svg>
                                                                        Sent</button>
            <button class="btn btn-sm btn-outline-dark" id="archived"><i class="fa fa-archive"></i>  Archived</button>
            
            <hr>

            <div id="emails-view">
                
            </div>

            <div id="mail-view">
            </div>

            <div id="compose-view">
                <h3>New Email</h3>
                <form id="compose-form">
                    <div class="form-group">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}